.wrapeer {
    padding: 20px;
}

.content {
    display: flex;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    flex-wrap: wrap;
}

.content-item {
    padding: 20px 15px;
    min-height: 300px;
    min-width: 300px;
}

.content-item:last-child {
    flex-grow: 1;
}

.content-item:not(:last-child) {
    padding-top: 20px;
    border-right: 1px solid #dadada;
}

.data-container {
    margin: 20px 0;
    border-radius: 3px;
}

.data-container:not(:empty) {
    padding: 5px;
    background-color: rgba(68, 157, 68, 0.22);
}